/* Reset and basic styles */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #f8f5e9;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body spans the full height of the viewport */
}

header {
    padding: 20px 0;
    text-align: center; /* Center align header content */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; /* Center aligns menu items horizontally */
    font-size: 16px;
}

nav ul li {
    margin: 0 10px;
    font-weight: normal;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: normal;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
    max-width: 800px; /* Adjust maximum width as needed */
    margin: 0 auto; /* Center aligns main content */
    flex: 1; /* Allows main content to grow and fill remaining space */
}

.content ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.content ul li {
    margin-bottom: 15px;
}

.content ul li a {
    text-decoration: none;
    color: #000;
    font-weight: normal;
    font-size: 18px;
    display: block; /* Ensure each link takes up a whole line */
}

.content ul li span {
    font-size: 14px;
    color: #555;
    display: block; /* Ensure the date is on a new line */
    margin-top: 5px; /* Add some space between the link and the date */
}

.paragraph {
    margin-top: 20px;
}

.paragraph p {
    margin: 0 0 10px; /* Adds space below each paragraph */
    font-size: 16px;
    text-indent: 2em; /* Indents the first line of the paragraph */
}

/* Footer styling */
footer {
    text-align: center;
    font-size: 0.7em; /* Smaller font size for footer */
    padding: 10px;
    background-color: #f8f5e9; /* Matching the body background color */
    margin-top: auto; /* Push footer to the bottom */
    font-family: cursive; /* Use cursive font */
}